/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/

/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}


a {
	color: $brand-black;
	text-transform: uppercase;
	position: relative;
	
	&:hover {
		color: $brand-black;
	}
}

.red-line {
	
		&:after {
		    content: '';
		    background: red;
		    position: absolute;
		    width: 100%;
		    height: 2px;
		    left: 0;
		    //bottom: 0;
		    top: 50%;
		    -ms-transform: rotate(-10deg); /* IE 9 */
		    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
		    transform: rotate(-10deg);
		    opacity: 0;
		  }
	
	&:hover {
		
		&:after {
			opacity: 1;
    	}
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {
	
}

h5, .h5 {

}

.nav-box {
	position: fixed;
	width: 100%;
	bottom: 0;
	border: 2px solid $brand-black;
	padding: 1.6em 1em 1em 1em;
	text-align: center;
	background: white;
	z-index: 100;
	
	ul {
		list-style: none;
		margin-left: 0;
		display: inline-block;
		
		li {
			a {
			    padding: 0rem 1rem;
			    @extend .red-line;
			}
		}
	}
	
	@include breakpoint(medium up) {
	 	width: auto;
	 	bottom: 15px;
	 	right: 15px;
 	}
 }
 
 
 .grid {
	width: 400vw;
	//height: 400vh;
	position: relative;
	
	.grid-item {
		float: left;
		position: relative;
		width: 10%;
		//min-height: 70vh;
		overflow: hidden;
		
		@include breakpoint(medium only) {
			width: 20%;
		}
		
		@include breakpoint(small only) {
			width: 25%;
		}
		
		&:hover {
			background: repeating-linear-gradient(
			  -45deg,
			  yellow,
			  yellow 30px,
			  white 30px,
			  white 40px
			);
		}
	}
	
	.date {
		//width: 650px;
	}
	
	.gradshow {
		//width: 800px;
	}
	
	.location {
		//width: 800px;
	}
	
	.risd {
		//width: 640px;
	}
	
	.thesis {
		//width: 600px;
	}
	
	.grid-sizer {
		//width: 10%;
	}
	
	.info {
		background: none !important;
		cursor: default;
	}
	
	.all-departments {
		border: 1px solid black;
		
		&:hover {
			background: none;
		}
		
		ul {
			list-style: none;
			margin-left: 0;
			width: 100%;
			height: 100%;
			
			li {
				border: 1px solid black;
				display: inline-block;
				float: left;
				width: 50%;
				height: 12.5%;
				position: relative;
				
				@extend .red-line;
				
				a {
					width: 100%;
					height: 100%;
					display: block;
					padding: .5rem;
					font-size: .8rem;
		
					@include breakpoint(small only) {
						font-size: .7rem;
					}
				}
			}
		}
	}

}

.loading {
	opacity: 0;
}

.rotate-left {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.rotate-right {
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}



/*********************
POSTS & CONTENT STYLES
*********************/

.reveal-overlay {
	background: rgba( $brand-white, .5 );
}

.reveal {
	text-align: center;
	border: 2px solid $brand-black;
	padding-top: 2.5em;
	
	@include breakpoint(small down) {
		padding-top: 5em;
		
	}
	
	.flex-video {
		padding-bottom: 50%;
		width: 75%;
		display: inline-block;
	}
	
	p {
		text-align: left;
	}
	
	h2 {
		font-size: 1rem;
		text-transform: uppercase;
		text-align: left;
	}
	
	.close-button {
		color: $brand-black;
		font-size: 1.5rem;
		
		&:after {
			content: none;
		}
		
		@include breakpoint(small down) {
			top: 1rem;
			font-size: 2rem;
		}
		
	}
	
	ul {
		list-style: none;
		margin-left: 0;
		
		li {
			text-transform: uppercase;
			text-align: left;
			
			a {
				@extend .red-line;
			}
		}
	}
	
	.accordion-title {
		font-size: 1rem;
		color: $brand-black;
		
		&:after {
			content: none;
		}
	}
}

#allstudents {
	max-height: 600px;
	overflow-y: scroll;
	
	@include breakpoint( medium up ) {
		padding: 0;
		
		.close-button {
			display: none;
		}
	}
	
	.accordion-content {
		ul {
			li {
				display: inline;
				margin-right: 1.2em;
			}
		}
	}
}

.students-list {
	
	
	@include breakpoint( medium up ) {
		width: 420px;
		padding-top: 1em;
	}
}

.direction-left {
    z-index:10;
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:5%;
    //border:1px solid #000;
}
.direction-right {
    z-index:10;
    position:fixed;
    top:0;
    right:0;
    height:100%;
    width:5%;
    //border:1px solid #000;
}
.direction-up {
    z-index:10;
    position:fixed;
    top:0;
    left:0;
    height:5%;
    width:100%;
    //border:1px solid #000;
}
.direction-down {
    z-index:10;
    position:fixed;
    bottom:0;
    left:0;
    height:5%;
    width:100%;
    //border:1px solid #000;
}

.direction-down, .direction-left, .direction-up, .direction-right {
	
	@include breakpoint (small only ) {
		display: none;
	}
	
}

.selected {
	background: repeating-linear-gradient(
			  -45deg,
			  yellow,
			  yellow 30px,
			  white 30px,
			  white 40px
			);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}