@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=b2e4036a-8e1a-44e8-89c7-e6fd7346f556&fontids=723679");
    @font-face{
        font-family:"LinotypeUniversW01-Medi_723679";
        src:url("../Fonts/723679/48a42ae4-2dae-4819-a76c-c4a39ba76875.eot?#iefix");
        src:url("../Fonts/723679/48a42ae4-2dae-4819-a76c-c4a39ba76875.eot?#iefix") format("eot"),url("../Fonts/723679/194b06cf-7326-4c18-9a5a-937865061822.woff2") format("woff2"),url("../Fonts/723679/d7cf6a30-fb6a-4725-9c93-2372d9f4bb8d.woff") format("woff"),url("../Fonts/723679/fb6dd99b-78b9-4459-b787-00d3f0fc0c9f.ttf") format("truetype");
    }

$brand-black: #000;
$brand-white: #f2f2f2;

$font: 'LinotypeUniversW01-Medi_723679', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;