#cpt_info_box{
	display: none !important;
}

.wp-admin .acf_relationship .relationship_list{
	/* height: 600px; */
}

.wp-admin .acf_relationship .relationship_right .relationship_list{
	/* height: 600px  !important;	 */
}

.wp-admin #sorter_box{
	background: none;
	padding: 0;
}

.wp-admin #sorter_box h3{
	display: none; 
}

.wp-admin #catOrderedRadioBox{
	display: none; 
}

.acf-field-message{
	background: #ffffb2;
	padding-bottom: 7px !important;
}

// .field_type-message h2{
// 	font-size: 1.1em !important;
// 	padding: 0px 0px 0px 5px !important;
// }
